/bin/
build
.gradle
Notes/Models
Notes/Papers
*.aux
taup.bbl
taup.blg
taup.log
taup.out
taup.toc
testing
tmp
/cmdLineTest/
.idea
/src/test/resources/edu/sc/seis/TauP/cmdLineTest/index.html
/src/test/resources/edu/sc/seis/TauP/cmdLineTest/refltranCompare/*.svg
/src/test/resources/edu/sc/seis/TauP/cmdLineTest/refltranCompare/index.html
/src/doc/sphinx/source/_static/StdModels
/src/web/node_modules
/test
