text.title {
    text-anchor: middle;
    dominant-baseline: auto;
}
circle {
    vector-effect: non-scaling-stroke;
    stroke: grey;
    fill: transparent;
}
.xtick {
    text-anchor: middle;
    dominant-baseline: middle;
}
.ytick {
    text-anchor: end;
    dominant-baseline: middle;
}
line.legend {
    text-anchor: end;
    dominant-baseline: middle;
}
text.legend {
    text-anchor: start;
    dominant-baseline: middle;
}
line.tick {
    vector-effect: non-scaling-stroke;
    stroke: black;
    fill: transparent;
}
.xlabel {
    text-anchor: middle;
}
.ylabel {
    text-anchor: middle;
    dominant-baseline: middle;
}
.phaselabel {
    text-anchor: end;
    dominant-baseline: middle;
}
polyline {
    vector-effect: non-scaling-stroke;
    fill: transparent;
}
polyline.tick {
    stroke: black;
}
polyline.sourcedepth {
    stroke: lightgrey;
}
polyline.receiverdepth {
    stroke: lightgrey;
}
polyline.scattererdepth {
    stroke: lightgrey;
}
polyline.swave {
    stroke: red;
}
polyline.pwave {
    stroke: blue;
}
circle.discontinuity {
    vector-effect: non-scaling-stroke;
    stroke: grey;
    fill: none;
}
circle.discontinuity.surface {
    fill: lightgoldenrodyellow;
}
circle.discontinuity.moho {
    fill: blanchedalmond;
}
circle.discontinuity.cmb {
    fill: lemonchiffon;
}
circle.discontinuity.iocb {
    fill: burlywood;
}
.Rpp {
    stroke: blue;
}
.Rps {
    stroke: green;
}
.Rsp {
    stroke: red;
}
.Rss {
    stroke: orange;
}
.Rshsh {
    stroke: mediumslateblue;
}
.Tpp {
    stroke: cyan;
}
.Tps {
    stroke: gold;
}
.Tsp {
    stroke: magenta;
}
.Tss {
    stroke: grey;
}
.Tshsh {
    stroke: violet;
}
g.autocolor:nth-child(10n+1) {
    stroke: skyblue;
}
g.autocolor:nth-child(10n+2) {
    stroke: olivedrab;
}
g.autocolor:nth-child(10n+3) {
    stroke: goldenrod;
}
g.autocolor:nth-child(10n+4) {
    stroke: firebrick;
}
g.autocolor:nth-child(10n+5) {
    stroke: darkcyan;
}
g.autocolor:nth-child(10n+6) {
    stroke: chocolate;
}
g.autocolor:nth-child(10n+7) {
    stroke: darkmagenta;
}
g.autocolor:nth-child(10n+8) {
    stroke: mediumvioletred;
}
g.autocolor:nth-child(10n+9) {
    stroke: sienna;
}
g.autocolor:nth-child(10n+10) {
    stroke: rebeccapurple;
}
.autocolor.phaselabel:nth-child(10n+1) {
    fill: skyblue;
}
.autocolor.phaselabel:nth-child(10n+2) {
    fill: olivedrab;
}
.autocolor.phaselabel:nth-child(10n+3) {
    fill: goldenrod;
}
.autocolor.phaselabel:nth-child(10n+4) {
    fill: firebrick;
}
.autocolor.phaselabel:nth-child(10n+5) {
    fill: darkcyan;
}
.autocolor.phaselabel:nth-child(10n+6) {
    fill: chocolate;
}
.autocolor.phaselabel:nth-child(10n+7) {
    fill: darkmagenta;
}
.autocolor.phaselabel:nth-child(10n+8) {
    fill: mediumvioletred;
}
.autocolor.phaselabel:nth-child(10n+9) {
    fill: sienna;
}
.autocolor.phaselabel:nth-child(10n+10) {
    fill: rebeccapurple;
}
