text.title {
    text-anchor: middle;
    dominant-baseline: auto;
}
circle {
    vector-effect: non-scaling-stroke;
    stroke: grey;
    fill: transparent;
}
.xtick {
    text-anchor: middle;
    dominant-baseline: middle;
}
.ytick {
    text-anchor: end;
    dominant-baseline: middle;

}
.legend line {
    text-anchor: end;
    dominant-baseline: middle;
    stroke: black;
    fill: transparent;
}
.legend text {
    text-anchor: start;
    dominant-baseline: middle;
}

line.tick {
    vector-effect: non-scaling-stroke;
    stroke: black;
    fill: transparent;
}
.xlabel {
    text-anchor: middle;
}
.ylabel {
    text-anchor: middle;
    dominant-baseline: middle;
}
.phaselabel {
    text-anchor: end;
    dominant-baseline: middle;
}
polyline {
    vector-effect: non-scaling-stroke;
    fill: transparent;
}
polyline.tick {
    stroke: black;
}
polyline.sourcedepth {
    stroke: lightgrey;
}
polyline.receiverdepth {
    stroke: lightgrey;
}
polyline.scattererdepth {
    stroke: lightgrey;
}
polyline.swave {
    stroke: red;
}
polyline.pwave {
    stroke: blue;
}
polyline.both_p_swave {
    stroke: green;
}
circle.discontinuity {
    vector-effect: non-scaling-stroke;
    stroke: grey;
    fill: none;
}
circle.discontinuity.surface {
    fill: lightgoldenrodyellow;
}
circle.discontinuity.moho {
    fill: blanchedalmond;
}
circle.discontinuity.cmb {
    fill: lemonchiffon;
}
circle.discontinuity.iocb {
    fill: burlywood;
}
.Rpp {
    stroke: blue;
}
.Rps {
    stroke: green;
}
.Rsp {
    stroke: red;
}
.Rss {
    stroke: orange;
}
.Rshsh {
    stroke: mediumslateblue;
}
.Tpp {
    stroke: cyan;
}
.Tps {
    stroke: gold;
}
.Tsp {
    stroke: magenta;
}
.Tss {
    stroke: grey;
}
.Tshsh {
    stroke: violet;
}
